/* styles/app.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #3494E6, #EC6EAD);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
  text-align: center;
  max-width: 1700px;
  margin: auto;
}

h1 {
  font-size: 24px;
  color: green;
  margin-bottom: 20px;
}

.search-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.search-button {
  background: #3494E6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.search-button:hover {
  background: #EC6EAD;
}

.recipe-card {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  display: inline-block;
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.recipe-card h2 {
  font-size: 18px;
  margin-top: 10px;
}

.recipe-card p {
  font-size: 14px;
  margin-top: 10px;
}
